html {
  height: 100%;
  background-image: url(https://upload.wikimedia.org/wikipedia/en/6/64/Beachboyssmile.png);
  opacity: 0.8;
}
body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}


#navbar {
  width: 100%;
  background-color: #faf0e4;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 5;
}
#navbar a:first-child {
  margin-left: 50px;
  border-left: 1px solid #028fd6;
}

#navbar a {
  font-size: 25px;
  text-decoration: none;
  color: #f36f24;
  line-height: 100px;
  border-right: 1px solid rgb(141, 11, 196);
  padding: 20px;
}
#navbar a:hover {
  color: #028fd6;
}


#progress-container {
  width: 100%;
  height: 8px;
  background-color: rgb(255, 255, 255);
}
#progress-bar {
  height: 8px;
  width: 0%;
  background-color: #67bc78;
}

#main {
  width: 80%;
  margin: 50px auto;
  background-color: #faf0e4;
  opacity: 1.0;
  padding: 50px;
  z-index: -1;
}

h1 {
  color: #f36f24;
  font-size: 50px;
}


h2 {
  color: #028fd6;
  font-size: 30px;

}

h4 {
  color: #f36f24;
}

p {
  color: #0d975f;
  font-size: 25px;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 35%;
}
